<!doctype html>
<html class="container m-auto py-2">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title class="font-bold">COVID19-Retweet-Prediction Webapp</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    </head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <body class="space-y-2">
        <h1 class="text-center text-4xl font-sans">COVID19-Retweet-Prediction</h1>
        <br />
        <h3 class="text-center text-2xl font-sans">View Sample Results from our finalised models</h2>
        <br />
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="text-center border-4 border-red-700">
              {% for message in messages %}
                <li class="text-lg font-bold text-red-700">{{ message }}</li>
              {% endfor %}
            </ul>
            <div class="h-8"></div>
          {% endif %}
        {% endwith %}
        <div class="flex flex-row justify-center space-x-6">
          <a class="text-xl border border-black rounded-xl p-2" href="{{url_for('index', tab='overview')}}">Overview</a>
          <a class="text-xl border border-black rounded-xl p-2" href="{{url_for('index', tab='data')}}">Explore Data</a>
        </div>
        <br/>
        <div id="main" class="flex flex-col m-auto">
          {% if tab == 'overview' %}
            <div class="flex flex-col items-center justify-center w-full px-2 space-y-2">
                <p class="text-3xl font-bold">Overview</p>
                <p class="text-2xl font-bold">Model Performance on Test Set</p>
                <table class="border border-black">
                  <thead class="border border-black">
                    <tr>
                      <th class="border border-black text-center">Model</th>
                      <th class="px-2">MSLE Score</th>
                    </tr>
                  </thead>
                  <tbody class="border border-black">
                    <tr class="border border-black">
                      <td class="border border-black text-center">XGBoost with 10 estimators</td>
                      <td class="text-center">0.3564</td>
                    </tr>
                    <tr class="border border-black">
                      <td class="border border-black text-center">Linear Neural Network (Learning Rate = 0.001, Dropout: 0.5,Step size = 25)</td>
                      <td class="text-center">1.9193</td>
                    </tr>
                    <tr class="border border-black">
                      <td class="border border-black text-center">HD: 256, 2 layer LSTM</td>
                      <td class="text-center">1.7984</td>
                    </tr>
                  </tbody>
                </table>
                <div class="h-8"></div>
                <p class="text-3xl font-bold">XG Boost Model</p>
                <p class="text-2xl font-bold">Feature Engineering</p>
                <img src='data:image/png;base64,{{ feature_engineering_chart }}' ></img>
                <div id="chart" class="chart"></div>
            </div>
          {% elif tab == 'data' %}
            <div class="flex flex-row justify-center space-x-6">
              <a class="text-xl text-blue-700" href="{{url_for('index', model='0', tab='data')}}">XG Boost</a>
              <a class="text-xl text-blue-700" href="{{url_for('index', model='1', tab='data')}}">LSTM</a>
              <a class="text-xl text-blue-700" href="{{url_for('index', model='2', tab='data')}}">Neural Network</a>
            </div>
            <div class="h-8"></div>
            <div class="flex flex-col-reverse xl:flex-row justify-center w-full px-2">
              {% if item %}
                <div class="flex flex-row w-full xl:w-2/3 justify-center">
                  {{ table }}
                </div>
                <div class="flex flex-col w-full xl:w-1/3 text-left p-4 lg:px-8 xl:px-2">
                    <p class="text-xl">ID: {{item.id}}</p>
                    <p class="text-xl">Username: {{item.username}}</p>
                    <p class="text-xl">Timestamp: {{item.timestamp}}</p>
                    <p class="text-xl">Followers: {{item.followers}}</p>
                    <p class="text-xl">Friends: {{item.friends}}</p>
                    <p class="text-xl">Favourites: {{item.favourites}}</p>
                    <p class="text-xl">Mentions_count: {{item.mentions_counts}}</p>
                    <p class="text-xl">Hashtag_count: {{item.hashtag_counts}}</p>
                    <br />
                    <br />
                    <p class="text-xl">Actual Retweets: {{item.retweets}}</p>
                    <p class="text-xl">Predicted Retweets: {{item.predicted_retweets}}</p>
                </div>
              {% else %}
                <div class="flex flex-row w-full justify-center">
                  {{ table }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
    </body>
</html>
